[Desktop Entry]
Type=Action
Name=GVimdiff
Comment=Diff two files
Profiles=gvimdiff
TryExec=gvimdiff
SelectionCount=> 1
Terminal=false
Icon=gvim
Categories=Utility;TextEditor;
StartupNotify=true

[X-Action-Profile gvimdiff]
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=gvimdiff -f %F
