@import url('xfce4-panel.gtk3-only.css');

/* Colorscheme for the xfce4-panal taskbar buttons: */
window#XfcePanelWindow.xfce4-panel > widget  > widget > box.horizontal > widget.tasklist > button.toggle > box.horizontal {
    color: shade(@theme_fg_color, 1.10);
    background-image: none;
    background-color: shade(@theme_base_color, 1.02);
}

window#XfcePanelWindow.xfce4-panel > widget  > widget > box.horizontal > widget.tasklist > button.toggle:checked > box.horizontal {
    color: shade(@theme_selected_fg_color, 0.90);
    background-image: none;
    background-color: shade(@theme_bg_color, 1.85);
}

window#XfcePanelWindow.xfce4-panel > widget  > widget > box.horizontal > widget.tasklist > button.toggle:hover > box.horizontal {
    color: @theme_selected_fg_color;
    background-image: none;
    background-color: shade(@theme_bg_color, 2.15);
}

/* Colorscheme for the xfce4-panal pager: */
window#XfcePanelWindow.xfce4-panel > widget > widget > wnck-pager > wnck-pager {
    color: @theme_bg_color;
    background-color: shade(@theme_base_color, 3.0);
}

window#XfcePanelWindow.xfce4-panel > widget > widget > wnck-pager > wnck-pager:selected {
    color: @theme_fg_color;
    background-color: @theme_selected_bg_color;
}

window#XfcePanelWindow.xfce4-panel > widget > widget > wnck-pager > wnck-pager:hover {
    color: @theme_fg_color;
    background-color: @theme_selected_bg_color;
}

/* Colorscheme for the xfce4-panal clock: */
window#XfcePanelWindow.xfce4-panel > widget > widget > button#clock-button {
    color: shade(@theme_selected_fg_color, 0.90);
    background-image: none;
    background-color: transparent;
    border-style: none;
}

window#XfcePanelWindow.xfce4-panel > widget > widget > button#clock-button:checked {
    color: @theme_fg_color;
}

window#XfcePanelWindow.xfce4-panel > widget > widget > button#clock-button:hover {
    color: @theme_selected_fg_color;
}

/* Colorscheme for the xfce4-panal application menu button: */
window#XfcePanelWindow.xfce4-panel > widget > widget > button.flat.toggle#applicationmenu-button {
    background-image: none;
    background-color: transparent;
    border-style: none;
}

/* On the xfce4-panel, make the xfce4-systemload-plugin use the same
   width and background color as the xfce4-cpugraph-plugin:
*/
.xfce4-panel progressbar.vertical trough {
    min-width: 40px;
    border-style: none;
    border-radius: 0px;
    background-color: black;
}

.xfce4-panel progressbar.vertical progress {
    min-width: 40px;
    border-style: none;
    border-radius: 0px;
}
