[Desktop Entry]
Type=Application
Icon=system-file-manager
Name=PCManFM New Window
Comment=Open directory in new window
Categories=System;FileTools;FileManager;Utility;Core;GTK;
TryExec=pcmanfm
Exec=pcmanfm --new-win -- %U
StartupNotify=true
NoDisplay=true
Terminal=false
MimeType=inode/directory;
